@model SupportWeb.ViewModels.Catalog.RequestKH.RequestKHCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RequestKHCreateRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stt" class="control-label"></label>
                <input asp-for="Stt" class="form-control" />
                <span asp-validation-for="Stt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeMa" class="control-label"></label>
                <input asp-for="CodeMa" class="form-control" />
                <span asp-validation-for="CodeMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenCode" class="control-label"></label>
                <input asp-for="TenCode" class="form-control" />
                <span asp-validation-for="TenCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KyThuatMa" class="control-label"></label>
                <input asp-for="KyThuatMa" class="form-control" />
                <span asp-validation-for="KyThuatMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKyThuat" class="control-label"></label>
                <input asp-for="TenKyThuat" class="form-control" />
                <span asp-validation-for="TenKyThuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangMa" class="control-label"></label>
                <input asp-for="KhachHangMa" class="form-control" />
                <span asp-validation-for="KhachHangMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label"></label>
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormThucHien" class="control-label"></label>
                <input asp-for="FormThucHien" class="form-control" />
                <span asp-validation-for="FormThucHien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiYeuCau" class="control-label"></label>
                <input asp-for="NguoiYeuCau" class="form-control" />
                <span asp-validation-for="NguoiYeuCau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayHoanThanh" class="control-label"></label>
                <input asp-for="NgayHoanThanh" class="form-control" />
                <span asp-validation-for="NgayHoanThanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

